<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    Renta de Peliculas
</title>
</head>
<body>
  <div id="main-page">
    <h1>Renta de Peliculas</h1>
    <p>
        Bienvenido a la página de renta de películas.
    </p>
  </div>
  <div id="navigation">
    <ul>
      <li><a href="pelicula">Peliculas</a></li>
      <li><a href="usuario">Usuarios</a></li>
      <li><a href="renta">Rentas</a></li>
    </ul>
  </div>
</body>
</html>