<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar película</title>
</head>
<body>
    <h1>Bienvenido a la página de películas</h1>

    <ul>
        {% for pelicula in peliculas %}
        <li>
            {{ pelicula }}
            <form method="GET" action="{{ url_for('pelicula.actualizar_pelicula', pelicula_id=pelicula.idPelicula) }}" style="display: inline;">
                <button type="submit">Actualizar</button>
            </form>
            <form method="POST" action="{{ url_for('pelicula.eliminar_pelicula', pelicula_id=pelicula.idPelicula) }}" style="display: inline;">
                <button type="submit">Eliminar</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <button onclick="window.location.href='/'">Regresar al home</button>
    <button onclick="window.location.href='/pelicula/agregar'">Agregar película</button>

</body>
</html>